h2 {
  color: #2e64a1;
  font-weight: 400;
}

.bienvenidos {
  width: 75%;
  padding-right: 10px;
}

.testimonios {
  width: 25%;
}

.homeimg img {
  width: 100%;
  height: 350px;
}

.columnas {
  display: flex;
  justify-content: space-between;
}

.bienvenidos p {
  font-size: 20px;
}

.testimonio {
  background: #ccc;
  padding: 16px;
}

.testimonio .cita {
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
  display: block;
}

.testimonio .autor {
  font-size: 10px;
  text-align: center;
  display: block;
  margin: 12px 0;
}